.footer {
  color: $color-white-500;
  margin: 0 1rem 1rem;

  & > * { // TODO: The right way to do this?
    background-color: #0A00FF;
    padding: 4rem 6rem;
  }

  .footer__about {
    .footer__wrapper {
      margin-bottom: -4rem;
      padding-bottom: 4rem;
      border-bottom: 1px solid $color-white-500;

      .footer__title {
        font-size: 2rem;
        font-weight: bold;
      }

      .footer__hashtag:before {
        content: '#'
      }
    }
  }
}