{% if headingBox.container %}
<div class="container">
    {% endif %}
    <section class="heading-box{% if headingBox.type %} heading-box__{{ headingBox.type }}{% endif %}">
        <span class="heading-box__content">
            <h1 class="heading-box__title">{{ headingBox.title }}</h1>
            <span class="heading-box__text">{{ headingBox.text }}</span>
            {% if headingBox.btn %}
                <button class="btn">{{ headingBox.btn }}</button>
            {% endif %}
        </span>
    </section>
    {% if headingBox.container %}
</div>
{% endif %}