---
title: Home
headingBox:
    title: PGM
    text: Graduaat Programmeren?
    container: true
textImg:
    title: Wat is graduaat programmeren?
    text: Tijdens het Graduaat Programmeren leer je het zichtbare (front-end) en onzichtbare (backend) deel van web- en mobiele toepassingen ontwikkelen. <br><br>Je wordt specialist in JavaScript, HTML, CSS en vult jouw skills aan met o.a. PHP, Python, UI/UX. Naast deze technische kant, vergaar je ook algemene ICT-skills. <br><br>Je leert ook hoe digital agencies werken en wat jouw rol hierbinnen zal zijn.
    img: computer.png
    imgAlt: Person typing/coding at laptop.
    btn: Kom naar de infodag
    container: true
centerBox:
    HTML: <h3>Wat zal je leren?</h3><p>In het Graduaat Programmeren leer je programmeren en staat front-end web development centraal. Jouw lessen worden doorspekt met interactieve oefeningen. Je krijgt opdrachten om nieuwe leerstof snel onder de knie te krijgen. Werkplekleren en jouw stage zijn samen goed voor meer dan 1.200 uur aan praktijkervaring. Hierna ben je meer dan klaar voor de arbeidsmarkt.</p><button class="btn btn-border">Bekijk het curriculum</button>
    container: true
tags: page
---

{% extends "layouts/page.njk" %}

{% block content %}
    {% include "components/heading-box.njk" %}
    {% include "components/text-img.njk" %}
    {% include "components/center-box.njk" %}
{% endblock %}