{% extends "layouts/base.njk" %}

{% block body %}
    {% block header %}
        {% include "components/header.njk" %}
    {% endblock %}


    {% block main %}
        {% block content %}{% endblock %}
    {% endblock %}

    {% block footer %}
        {% include "components/footer.njk" %}
    {% endblock %}
{% endblock %}