---
headingBox:
    title: "heye"
    subtitle: "Eggegegeg?"
    container: true
textImg:
    text: 'Heye'
    img: '/dist/images/artevelde.png'
    imgAlt: 'idk to be honnest'
    container: true
---

{% extends "default.njk" %}

{% block content %}
    {% include "components/heading-box.njk" %}
    {% include "components/text-img.njk" %}
{% endblock %}