---
title: Blog
description: eeee
image: laptop.jpg
tags: page
highlight: Vind ons terug op alle sociale media als <span class="text__yellow">Graduaat Programmeren Artevelde.</span>
---

{% extends 'layouts/page.njk' %}

{% block content
    {% include "components/highlight.njk" %}
    <ul>
    {% for p in collections.post %}
        <li>
            <a href="{{ p.url }}">{{ p.data.title }}</a>
        </li>
    {% endfor %}
    </ul>
{% endblock %}