{% if centerBox.container %}
<div class="container">
    {% endif %}
    <section class="center-box">
        {{ centerHTML | safe }}{{ centerBox.HTML | safe }}
    </section>
    {% if centerBox.container %}
</div>
{% endif %}