{% if headingBox.container %}<div class="container">{% endif %}
<section class="heading-box">
    <h2 class="heading">{{ headingBox.title }}</h2>
    <span class="subtitle">{{ headingBox.subtitle }}</span>
</section>
{% if headingBox.container %}</div>{% endif %}