{% if textImg.container %}
<div class="container">
    {% endif %}
    <section class="text-img">
        <span class="text-img__text-box">
            <h2 class="text-img__title">{{ textImg.title }}</h2>
            <p class="text-img__text">{{ textImg.text | safe }}</p>
            {% if textImg.btn %}
                <button class="btn">{{ textImg.btn }}</button>
            {% endif %}
        </span>
        <img class="text-img__img" src="/dist/images/{{ textImg.img }}" alt="{{ textImg.imgAlt }}">
    </section>
    {% if textImg.container %}
</div>
{% endif %}