.form__input {
    font: initial;
    font-family: "Source Sans Pro", sans-serif;
    color: white;
    padding: 15px 0;
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid white;
    display: block;
    width: 100%;
}

.form__submit {
    display: block;
    margin-left: auto;
}