<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Settings -->
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Stualyttle" name="author">
    <meta content="Project" name="description">
    <meta content="Stualyttle" name="keywords">
    <title>Title</title>
    <!-- CSS -->
    <link href="/dist/main.css" rel="stylesheet">
    <!-- Javascript -->
    {# <script defer src="static/js/main.js"></script> #}
    <!-- Favicons -->
    <link href="https://lyttle.it/favicon.ico" rel="icon">
</head>

<body>
{% block body %}{% endblock %}
</body>
</html>
