---
title: Curriculum
description: eeee
image: laptop.jpg
tags: page
---

{% extends 'layouts/page.njk' %}

{% block content %}
    <ul>
        {% for p in collections.cposts %}
            <li>
                {{ p.templateContent | safe }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}